# Created by .ignore support plugin (hsz.mobi)

.idea

**/.sass-cache/
**/views/templates_c/
**/views/cache

package-lock.json

_config.php

#inc/_close/vendor/*

app_api

__writer/*
!__writer/mysqlDumpFile/index.html


inc/_close/vendor
_unittests/vendor