# Created by .ignore support plugin (hsz.mobi)

.idea

**/.sass-cache/
**/views/templates_c/
**/views/cache

package-lock.json

*.iml
_config.php

__BUILD

**/node_modules

app_api

__writer/**/*.*
!__writer/mysqlDumpFile/index.html

gulpfile_config.json