@import url(../bower_components/bootstrap/dist/css/bootstrap.min.css);
/* line 5, main.scss */
.cuHoverPointer {
  cursor: pointer;
}

/* line 9, main.scss */
#content_hosttable input {
  width: 90%;
}

/* line 13, main.scss */
#content_hosttable .table_edit_a, #content_hosttable .table_edit_b {
  display: none;
}

/* line 17, main.scss */
.navbar {
  border-radius: 0;
  border-top: none;
}

/* line 22, main.scss */
#top_impressum_short {
  background-color: #222222;
  color: #DBDBDB;
  border: none;
  font-size: 10px;
  text-align: right;
  padding-right: 10px;
}

/* line 31, main.scss */
#hostmask_db_curserver_backup_info {
  display: none;
}
