@import "compass";
@import "compass/_css3";
@import url(../bower_components/bootstrap/dist/css/bootstrap.min.css);

.cuHoverPointer {
  cursor : pointer;
}

#content_hosttable input {
  width : 90%;
}

#content_hosttable .table_edit_a, #content_hosttable .table_edit_b {
  display : none;
}

.navbar {
  border-radius : 0;
  border-top    : none;
}

#top_impressum_short {
  background-color : #222222;
  color            : #DBDBDB;
  border           : none;
  font-size        : 10px;
  text-align       : right;
  padding-right    : 10px;
}

#hostmask_db_curserver_backup_info {
  display : none;
}